<p id="notice"><%= notice %></p>

<h1>Listing Hours</h1>

<table>
  <thead>
    <tr>
      <th>Medic</th>
      <th>Day</th>
      <th>Hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours.each do |hour| %>
      <tr>
        <td><%= hour.medic %></td>
        <td><%= hour.day %></td>
        <td><%= hour.hour %></td>
        <td><%= link_to 'Show', hour %></td>
        <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
        <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hour', new_hour_path %>
