<p id="notice"><%= notice %></p>

<p>
  <strong>Medic:</strong>
  <%= @hour.medic %>
</p>

<p>
  <strong>Day:</strong>
  <%= @hour.day %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @hour.hour %>
</p>

<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
