<p id="notice"><%= notice %></p>

<h1>Listing Consultations</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Hour</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <td><%= consultation.patient %></td>
        <td><%= consultation.hour %></td>
        <td><%= consultation.status %></td>
        <td><%= link_to 'Show', consultation %></td>
        <td><%= link_to 'Edit', edit_consultation_path(consultation) %></td>
        <td><%= link_to 'Destroy', consultation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultation', new_consultation_path %>


