<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @consultation.patient %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @consultation.hour %>
</p>

<p>
  <strong>Status:</strong>
  <%= @consultation.status %>
</p>

<%= link_to 'Edit', edit_consultation_path(@consultation) %> |
<%= link_to 'Back', consultations_path %>