<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>OdonMed</h1>
                        <h3>Reserva de Horas Médicas</h3>
                        <p>OdonMed es una aplicación que permite la toma de horas médicas, sin importar la especialidad, podrás crear Médicos y asignar horas disponibles, además de que los pacientes puedan tomar/reservar horas</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Diseño Responsivo:<br>FrameWork Bootstrap</h2>
                    <p class="lead">OdonMed utiliza <%= link_to 'Bootstrap', 'http://getbootstrap.com/', target: '_blank' %> como framework base, para el desarrollo de una aplicación responsiva.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                	<%= image_tag "ipad.png", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Desde cualquier<br>Dispositivo</h2>
                    <p class="lead">
                    	El proposito de Odonmed, es que tanto médicos como pacientes, puedan acceder al sistema independiente del dispositivo que se conecten, es por eso que usamos diseño responsivo y no aplicaciones nativas.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                	<%= image_tag "dog.png", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Fuentes de Google <br>Iconos de Font Awesome</h2>
                    <p class="lead">Para este sitio usaremos la fuente 'Lato', parte de  <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, asi como <a target="_blank" href="http://fontawesome.io">iconos de  Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                	<%= image_tag "phones.png", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->