<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-calendar"></i> Horas</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-6">
		<%= form_for @hour, :html => {:class => 'form-horizontal'} do |f| %>
  			<% if @hour.errors.any? %>
    			<div id="error_explanation">
					<h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>
					<ul>
						<% @hour.errors.full_messages.each do |message| %>
			        		<li><%= message %></li>
			      		<% end %>
			      	</ul>
			    </div>
			<% end %>
			<%= f.hidden_field :medic_id, :value => current_user.id %>
			<div class="form-group">
				<label class="control-label col-sm-3">Seleccione Día</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar calendar"></i></span>
						<input type="text" id="multi" class="form-control" name="hour[day]" >
					</div>
				</div>	
			</div>


		  	<div class="form-group">
		  		<label class="control-label col-sm-3">Seleccione Horas</label>
		  		<div class="col-sm-9">
		  			<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-clock-o calendar"></i></span>
		    			<%= f.select :hour, @times, {prompt: "Seleccione horas"}, {:multiple => true, class: "form-control selectpicker"} %>
		    		</div>
		    	</div>
		  	</div>

		  	<div class="form-group">
		    	<label class="control-label col-sm-3">Estado</label>
		    	<div class="col-sm-9">
		  			<div class="input-group">
		    			<%= f.check_box :status %>
		    		</div>
		    	</div>
		    	
		  	</div>
		  	<div class="actions">
		    	<%= f.submit :class => 'btn btn-default pull-right', :value => 'Crear Horas' %>
		  	</div>
		<% end %>
	</div>
	<div class="col-lg-6">
    	<div class="alert alert-warning alert-dismissible error-hora" role="alert" style="display:none;">
		 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<strong>No hay horas disponibles</strong>, selecciona otra fecha.
		</div>
		<% flash.each do |key, value| %>
			<div class="alert alert-warning alert-dismissible error-hora" role="alert">
			 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  	<%= value %>
			</div>
		<% end %>	
    </div>
</div>