<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-calendar"></i> Buscar Médicos</h1>
    </div>
</div>
<div class="row">
	<div class="panel panel-default">
      	<div class="panel-heading">Medicos</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                            </tr>
                        </thead>
                    <tbody>
						<% @medics.each do |m| %>
							<% if !m.nil? %>
								<tr>
        	                        <td><%= m.id %></td>
                                    <td><%= m.name %></td>
                                    <td><%= m.speciality %></td>
                                </tr>
							<% end %>
						<% end %>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.panel-body -->
	</div>
</div>