<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-calendar"></i> Mis Horas</h1>
    </div>
</div>
<div class="row">
	<div class="panel panel-default">
      	<div class="panel-heading">Historial de Horas</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                    <th>Medico</th>
                                    <th>Día</th>
                                    <th>Estado</th>
                            </tr>
                        </thead>
                    <tbody>
						<% @consultation.each do |c| %>
							<% if !c.hour.nil? %>
								<tr>
        	                        <td><%= c.id %></td>
                                    <td><%= c.hour.medic.name %></td>
                                    <td><%= c.hour.day %></td>
                                    <td><%= c.status %></td>
                                </tr>
							<% end %>
						<% end %>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.panel-body -->
	</div>
</div>