<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-user fa-fw"></i> Perfil</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
    	<%= form_for @patient, :html => {:class => 'form-horizontal'} do |f| %>
				<% if @patient.errors.any? %>
            		<div id="error_explanation">
              			<h2><%= pluralize(@patient.errors.count, "error") %> prohibited this new_hour from being saved:</h2>
						<ul>
              				<% @patient.errors.full_messages.each do |message| %>
                				<li><%= message %></li>
              				<% end %>
              			</ul>
            		</div>
          		<% end %>
				<div class="form-group medic">
					<label class="control-label col-sm-3" for="inputGroupSuccess2">Nombre</label>
					<div class="col-sm-9">
    						<%= f.text_field :name, :class => 'form-control', :disabled => true, :value => current_user.name %>
					</div>	
				</div>
				<div class="form-group medic">
					<label class="control-label col-sm-3" for="inputGroupSuccess2">E-Mail</label>
					<div class="col-sm-9">
    						<%= f.text_field :email, :disabled => true, :value => current_user.email, :class => 'form-control' %>
					</div>	
				</div>
				<div class="form-group medic">
					<label class="control-label col-sm-3" for="inputGroupSuccess2">Telefono</label>
					<div class="col-sm-9">
    						<%= f.telephone_field :phone, :class => 'form-control' %>
					</div>	
				</div>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				
          	<div class="actions">
            	<%= f.submit  :class => 'btn btn-default pull-right', :value => 'Actualizar Perfil' %>
          	</div>
        <% end %>
    </div>
    <div class="col-lg-6">
    	<div class="alert alert-warning alert-dismissible error-hora" role="alert" style="display:none;">
		 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<strong>No hay horas disponibles</strong>, selecciona otra fecha.
		</div>
		<% flash.each do |key, value| %>
			<div class="alert alert-warning alert-dismissible error-hora" role="alert">
			 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  	<%= value %>
			</div>
		<% end %>
			
    </div>
</div>
