<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reserva de Horas</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <%= form_for @consultation, :html => {:class => 'form-horizontal'} do |f| %>
				<% if @consultation.errors.any? %>
            		<div id="error_explanation">
              			<h2><%= pluralize(@consultation.errors.count, "error") %> prohibited this new_hour from being saved:</h2>
						<ul>
              				<% @consultation.errors.full_messages.each do |message| %>
                				<li><%= message %></li>
              				<% end %>
              			</ul>
            		</div>
          		<% end %>
				<div class="form-group medic">
					<label class="control-label col-sm-3" for="inputGroupSuccess2">Seleccione Médico</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user-md"></i></span>
							<select id="medic_id" class="form-control">
								<option value="">Seleccione un Médico</option>
								<%= Medic.all.collect do |m| %>
									<option value="<%= m.id %>"><%= m.name %></option>
								<% end %>
								
							</select>
						</div>
					</div>	
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="inputGroupSuccess2">Seleccione Día</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar calendar"></i></span>
							<input type="text" id="datepicker" class="form-control" disabled>
						</div>
					</div>	
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="inputGroupSuccess2">Seleccione Hora</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<select id="horas" class="form-control" name="consultation[hour_id]" disabled>
								<option value="">Seleccione una hora</option>
							</select>
						</div>
					</div>	
				</div>
				<%= f.hidden_field :patient_id, :value => @patient.id %>
				<%= f.hidden_field :status, :value => 'reservada' %>
				
          	<div class="actions">
            	<%= f.submit  :class => 'btn btn-default pull-right', :value => 'Reservar Hora' %>
          	</div>
        <% end %>
    </div>
    <div class="col-lg-6">
    	<div class="alert alert-warning alert-dismissible error-hora" role="alert" style="display:none;">
		 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<strong>No hay horas disponibles</strong>, selecciona otra fecha.
		</div>
		<% flash.each do |key, value| %>
			<div class="alert alert-warning alert-dismissible error-hora" role="alert">
			 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  	<%= value %>
			</div>
		<% end %>
			
    </div>
</div>