<!DOCTYPE html>
<html>
<head>
  <title>OdonmedRails</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dash-admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">	
		<!-- Navigation -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">OdonMed</a>
		</div>
		<!-- /.navbar-header -->

		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<%= link_to destroy_user_session_path, method: :delete do %>
					<i class="fa fa-sign-out"></i> Salir
				<% end %>
			</li>
		</ul>
		<!-- /.navbar-top-links -->

		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li class="sidebar-search">
						<div class="card card-container">
							<img id="profile-img" class="profile-img-card img-circle" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    						<p id="profile-name" class="profile-name-card"><%= current_user.name %></p>
    					</div>
					</li>
					<% case current_user.tipo %>
					<% when 2 %>
						<li>
							<%= link_to dashboard_path do %>
								<i class="fa fa-dashboard fa-fw"></i> Inicio
							<% end %>
						</li>
						<li>
							<%= link_to 'my_hours' do %>
								<i class="fa fa-calendar-o fa-fw"></i> Mis horas
							<% end %>
						</li>
					<% when 1 %>
						<li>
							<%= link_to dashboard_path do %>
								<i class="fa fa-dashboard fa-fw"></i> Inicio
							<% end %>
						</li>
						<li>
							<%= link_to 'med_hours' do %>
								<i class="fa fa-calendar-o fa-fw"></i> Horas
							<% end %>
						</li>
						<li>
							<%= link_to 'my_patients' do %>
								<i class="fa fa-users fa-fw"></i> Pacientes
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
	</nav>
	<div id="page-wrapper">
		<div class="alert alert-success alert-dismissable" style="<%= "display: none;" if notice.nil? %>">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<%= notice %>
		</div>
		<div class="alert alert-danger alert-dismissable" style="<%= "display: none;" if alert.nil? %>">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<%= alert %>
		</div>
		<%= yield %>
	</div>
</body>
</html>

	
